  @import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;500;700&display=swap');

  @font-face {
    font-family: 'icomoon';
    src:  url('icomoon.eot?rrntv6');
    src:  url('icomoon.eot?rrntv6#iefix') format('embedded-opentype'),
      url('icomoon.ttf?rrntv6') format('truetype'),
      url('icomoon.woff?rrntv6') format('woff'),
      url('icomoon.svg?rrntv6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-icons8-youtube .path1:before {
    content: "\e900";
    color: rgb(244, 67, 54);
  }
  .icon-icons8-youtube .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-icons8-youtube .path3:before {
    content: "\e902";
    margin-left: -1em;
    color: rgb(244, 67, 54);
  }
  .icon-icons8-youtube .path4:before {
    content: "\e903";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-twitter:before {
    content: "\ea96";
  }

:root{
  --white: #fffFFF;
  --black: #000000;
  --red: #e82100;
  --gray: #232323;
  --gray-border: #303030;
  --mobli: #69abf9;
  --twitter: #55abf4;
  --facebook: #3a599c;
  --youtube: #f44336;
  --xs: 12px;
  --sm: 16px;
  --md: 25px;
  --lg: 30px;
  // cat
  --nacional: #00B049;
  --entretenimiento: #FFC915;
  --tecnologia: #00D3F8;
  --mascotas: #90456D;
  --deportes: #FF372C;
  
}
body{
  font-family: 'Exo', sans-serif;
  margin: 0;
  color: var(--white)
}

.content{
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
